
@media (max-width: 480px) {
    body {
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: space-around;
    }

    .about h1 {
        max-width: 280px;
        font-size: 3rem;
    }
    .about p {
        font-size: 1rem;
    }
    .work {
        padding: 5px;
        padding-top: 55px;
    }
    .work h2 {
        font-size: 2rem;
    }

    .projects {
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }

    .contact strong {
        margin: 0 10px;
        font-size: 2rem;
    }

    .contact ul {
        margin-left: 25px;
    }
}

@media (max-width: 360px) {
    body {
        width: 102%;
    }
}

