* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(159, 25, 25);
}

.wrapper {
    margin: 0 auto;
}
a {
    color: white;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 20px;
    position: fixed;
    background-color: rgb(159, 25, 25);
    z-index: 10;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.nav-link {
    display: block;
    line-height: 60px;
    padding: 0 10px;
    opacity: 0.9;
}

.nav-link:hover {
    background-color: rgb(134, 154, 214);
    opacity: 1;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(62deg, #576d84 0%, #181719 100%);;
    color: white;
    text-align: center;
}

h1 {
    font-size: 60px;
}

.about p {
    font-size: 26px;
    font-style: italic;
    font-weight: 200;
    color: rgb(235, 57, 57);
}

.work {
    background-color: rgb(115, 116, 145);
    color: white;
    text-align: center;
    padding: 90px 20px;
    padding-bottom: 35px;
    font-size: 20px;
}

.work h2 {
    max-width: 640px;
    font-size: 40px;
    border-bottom: 1px solid white;
    opacity: 0.9;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 5px;
    font-weight: 500;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.project-tile {
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgb(54, 54, 54);
}

.project-image {
    display: block;
    height: calc(100% - 50px);
    width: 100%;
    object-fit: cover;
}

.project-tile p {
    line-height: 50px;
    opacity: 0.9;

}

.btn {
    display: inline-block;
    background-color: rgb(54, 54, 54);
    margin: 60px auto 50px auto;
    opacity: 0.9;
    position: relative;
    padding: 10px 20px;
    padding-right: 40px;
    border-radius: 3px;
}

.btn::after {
    content: ">";
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 6px;
    right: 13px;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(159, 25, 25);
}

.btn:hover::after {
    transform: translate(3px);
}

.contact {
    height: 85vh;
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact strong {
    font-size: 55px;
    opacity: 0.9;
}

.contact p {
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    opacity: 0.9
}

.contact ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 25px;
    max-width: 300px;
    width: 100%;
    opacity: 0.9;
}


.contact a {
    display: block;
    position: relative;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.contact a:hover {
    transform: translateY(5px) scale(1.1);
}

.contact a:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: -15px;
    background-color: honeydew;
}
.contact li:first-child a::before {
    background: url("img/icon-circlegithub.png") no-repeat;
    background-size: cover;
}

.contact li:last-child a::before {
    background: url("img/icon-emailforwarders.png") no-repeat;
    background-size: cover;
    top: 15px;
}

footer {
    margin-top: 5px;
    background-color: rgb(54, 54, 54);
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 16px;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
}