* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(159, 25, 25);
}

a {
    color: white;
    text-decoration: none;
}

nav {
    height: 60px;
    text-align: right;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.nav-link {
    display: block;
    line-height: 60px;
    padding: 0 10px;
    opacity: 0.9;
}

.nav-link:hover {
    background-color: rgb(134, 154, 214);
    opacity: 1;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(62deg, #576d84 0%, #181719 100%);;
    color: white;
}

h1 {
    font-size: 52px;
}

.about p {
    font-size: 26px;
    font-style: italic;
    font-weight: 200;
    color: rgb(235, 57, 57);
}

.work {
    background-color: rgb(120, 124, 206);
    color: white;
    text-align: center;
}

.projects {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
}

.project {
    margin: 10px;
    width: 30%;
    height: 50%;
    background-color: cornsilk;
}

.contact {
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.contact strong {
    font-size: 50px;
}

.contact p {
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    opacity: 0.8;
}

.contact ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 25px;
    max-width: 300px;
    width: 100%;
}


.contact a {
    display: block;
    position: relative;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.contact a:hover {
    transform: translateY(5px) scale(1.1);
}

.contact a:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: -15px;
    background-color: honeydew;
}
.contact li:first-child a::before {
    background: url("img/icon-circlegithub.png") no-repeat;
    background-size: cover;
}

.contact li:last-child a::before {
    background: url("img/icon-emailforwarders.png") no-repeat;
    background-size: cover;
    top: 15px;
}

footer {
    margin-top: 5px;
    background-color: rgb(54, 54, 54);
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 16px;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
}