@media (max-width: 480px) {
  body {
    width: 100%;
  }

  .navbar-list {
    justify-content: space-around;
    flex-wrap: wrap;
    }

  .about-title {
    font-size: 3rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .projects {
    padding: 40px 10px 40px 10px;
  }

  .projects-title {
    font-size: 2rem;
  }

  .projects-body {
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  .contacts-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 360px) {
  body {
    width: 102%;
  }
}
